
@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <table>
            <thead>
                <tr>
                    <td>ID</td>
                    <td>Name</td>
                </tr>
            </thead>
            <tbody>
                @foreach (Student ss in Model)
                {
                    <tr>
                        <td>@ss.Id</td>
                        <td>@ss.Name</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>