@model List<student>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
       <div class="text-center">
           <h1>Student Records</h1>
           @foreach(student st in Model)
           {
               <p>@($"{st.id} - {st.Name}")</p>
           }
       </div>
</body>
</html>

